.slots-wrapper .slot {
    border: 1px solid #313332;
    height: 64px;
    width: 64px;
}

.conflict {
    border: 1px solid #8b2a32 !important;
}

.slot-item-wrapper {
    position: relative;
}

.slot-item-wrapper button {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 4px;
    background-color: #3f0c11;
    color: #fff;
    border: none;
    font-size: 18px;
}

.slot-name-wrapper {
    font-size: 10px;
    color: #fff;
    height: 100%;
    display: flex;
    justify-content: center;
}

.slot-name-wrapper img {
    position: absolute;
}

.slot-name-wrapper div {
    z-index: 1;
    font-weight: bold;
    margin-top: 1px;
}

.slot-item-name-wrapper {
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    margin-top: 1px;
    margin-right: 2px;
    top: 0;
    right: 0;
}
