.tgb-slots-wrapper .tgb-slot {
    border: 1px solid #313332;
    height: 64px;
    width: 64px;
}

.tgb-conflict {
    border: 1px solid #8b2a32 !important;
}

.tgb-slot-item-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

.tgb-slot-item-wrapper button {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #3f0c11;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: bold;
    width: 22px;
    height: 22px;
}

.tgb-slot-item-wrapper img {
    height: 100%;
    width: 100%;
}

.tgb-slot-name-wrapper {
    font-size: 10px;
    color: #fff;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tgb-slot-name-wrapper img {
    position: absolute;
}

.tgb-slot-name-wrapper div {
    z-index: 1;
    font-weight: bold;
    margin-bottom: auto;
    margin-top: 1px;
}

.tgb-slot-item-name-wrapper {
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    margin-top: 1px;
    margin-right: 2px;
    top: 0;
    right: 0;
}
