.tgb-builder-outer-wrapper {
    border: 1px solid #4d5154;
    width: 100%;
    max-width: 672px;
    min-width: 375px;
}

.tgb-builder-outer-wrapper h2 {
    color: #fff;
}

.tgb-gun-wrapper {
    background-color: #000;
    max-width: 672px;
    min-width: 375px;
}

.tgb-selector-wrapper {
    max-width: 672px;
    min-width: 375px;
}

.tgb-selected-gun-name-wrapper {
    background-color: #191b1b;
    padding-left: 20px;
    padding-top: 3px;
    font-size: 14px;
    color: #fff;
}

.tgb-gun-selector-wrapper {
    background-color: #111212;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 160px;
}

.tgb-gun-selector-wrapper h2 {
    margin: 0;
}

.tgb-builder-outer-wrapper .tgb-gun-selector-wrapper h2 {
    text-align: center;
}

.tgb-gun-selector-wrapper-image {
    padding-top: 10px;
}

.tgb-gun-wrapper > .tgb-stats-wrapper {
    padding: 15px 20px;
}

.tgb-graph-wrapper {
    border: 1px solid #000;
    outline: 1px solid #424546;
    height: 21px;
    margin-bottom: 5px;
    color: #fff;
    text-transform: uppercase;
    line-height: 21px;
    font-size: 12px;
    position: relative;
}

.tgb-graph-wrapper {
    position: relative;
    z-index: 1;
    line-height: 21px;
}

.tgb-horizontal-wrapper {
    display: flex;
    flex-direction: row;
    column-gap: 7px;
    z-index: 1;
    position: absolute;
}

.tgb-icon {
    width: 19px;
    height: 19px;
}

.tgb-icon-wide {
    width: 28px;
    height: 19px;
}

.tgb-action {
    text-transform: uppercase;
    background-color: #272a29;
    color: white;
    font-size: 12px;
    cursor: pointer;
    padding: 2px 5px;
    display: flex;
    align-items: flex-end;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    column-gap: 7px;
}

.tgb-irreversible {
    background-color: #3f0c11;
}

.tgb-actions-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    row-gap: 5px;
    column-gap: 5px;
    padding: 5px 40px;
    background-color: #191b1a;
}

.tgb-graph-wrapper .tgb-stats-wrapper {
    position: absolute;
    z-index: 1;
    right: 5px;
    top: 0;
    text-transform: none;
}

.tgb-graph-wrapper .tgb-graph,
.tgb-graph-wrapper .tgb-temporary-graph {
    background: linear-gradient(180deg, #575b5e 0%, #3a3f41 100%);
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    transition: width 0.tgb-6s ease;
}

.tgb-blue {
    background: linear-gradient(180deg, rgba(66, 135, 159, 1) 0%, rgba(43, 88, 103, 1) 100%) !important;
}

.tgb-red {
    background: linear-gradient(180deg, rgb(153, 61, 68) 0%, rgb(105, 47, 47) 100%) !important;
}

.tgb-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
}

.tgb-grid-item {
    background-color: #111212;
    height: 20px;
    padding-right: 5px;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 21px;
    margin-bottom: 5px;
}

.tgb-grid-item-right {
    float: right;
    text-transform: none;
}

.tgb-slots-wrapper {
    background-color: #111111;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2px;
    padding: 10px 20px;
}

.tgb-select-list-icon {
    width: 100%;
    max-width: 200px;
}

.tgb-weight-wrapper {
    right: 0;
    top: 0;
    position: absolute;
    margin-right: 18px;
    margin-top: 5px;
    display: flex;
    align-items: flex-end;
    column-gap: 2px;
    font-size: 14px;
    color: #fff;
}

.tgb-gun-wrapper-top-right {
    right: 0;
    top: 0;
    position: absolute;
}

.tgb-gun-wrapper-bottom-left {
    left: 0;
    bottom: 0;
    position: absolute;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.tgb-gun-wrapper-top-right img {
    height: 50px;
    width: 50px;
}

.tgb-gun-wrapper-bottom-left img {
    height: 50px;
    width: 50px;
}
