.builder-outer-wrapper {
    display: flex;
}

.builder-outer-wrapper h2 {
    color: #fff;
}

.gun-wrapper {
    border: 1px solid #4d5154;
    background-color: #000;
    margin: 0 auto;
    min-width: 672px;
}

.selected-gun-name-wrapper {
    background-color: #191b1b;
    padding-left: 20px;
    padding-top: 3px;
    font-size: 14px;
    color: #fff;
}

.gun-selector-wrapper {
    background-color: #111212;
    text-align: center;
}

.builder-outer-wrapper .gun-selector-wrapper h2 {
    text-align: center;
}

.gun-selector-wrapper img {
    margin: 20px 0;
}

.gun-wrapper > .stats-wrapper {
    padding: 20px;
}

.graph-wrapper {
    border: 1px solid #000;
    outline: 1px solid #424546;
    height: 21px;
    margin-bottom: 5px;
    color: #fff;
    text-transform: uppercase;
    line-height: 21px;
    font-size: 12px;
    position: relative;
}

.graph-wrapper {
    font-size: 10px;
    position: relative;
    z-index: 1;
    line-height: 21px;
}

.horizontal-wrapper {
    display: flex;
    flex-direction: row;
    column-gap: 7px;
    z-index: 1;
    position: absolute;
}

.icon {
    width: 19px;
    height: 19px;
}

.graph-wrapper .stats-wrapper {
    position: absolute;
    z-index: 1;
    right: 5px;
    top: 0;
    text-transform: none;
}

.graph-wrapper .graph,
.graph-wrapper .temporary-graph {
    background: rgb(87, 91, 94);
    background: linear-gradient(180deg, #575b5e 0%, #3a3f41 100%);
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    transition: width 0.3s ease;
}

.graph-wrapper .temporary-graph {
    background: #3e8098;
    background: linear-gradient(180deg, rgba(66, 135, 159, 1) 0%, rgba(43, 88, 103, 1) 100%);
    z-index: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 5px;
    column-gap: 20px;
    margin: 5px 0;
}

.grid-item {
    background-color: #111212;
    height: 20px;
    padding-right: 5px;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 21px;
}

.grid-item-right {
    float: right;
    text-transform: none;
}

.slots-wrapper {
    background-color: #111111;
    display: flex;
    gap: 2px;
    padding: 10px 20px;
}

.weight {
    float: right;
    margin-right: 20px;
    margin-top: 5px;
    font-size: 14px;
    color: #fff;
}

.select-list-icon {
    width: 100%;
    max-width: 200px;
}

.selector {
    background-color: #000;
    width: 450px;
}
